*{
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    overflow-x: hidden;
}
@media screen and (min-width: 500px){
    .head-home-page{
        text-align: center;
        color: brown;
    }
    .sub-heading{
        text-align: center;
        color: navy;
    }
    .searchBar{
        display: flex;
        justify-content: space-between;
        width:40vw;
        height: 40px;
        margin:10px auto;
        border: 2px solid lightgray;
        border-radius: 30px;
        padding: 10px 15px;
        font-size: 18px;
    }
    .Home_Page-Cover-Photos{
        width: 70vw;
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
    }
    .Cover-Image{
        height: 400px;
        width:400px;
        object-fit: cover;
        border-radius: 40px;
    }
    .searchBar input{
        width: 90%;
        height: 100%;
        border: none;
        background: none;
    }
    .searchBar input:focus{
        outline: none;
    }
    .searchbtn:hover{
        cursor: pointer;
    }
    
}

@media screen and (max-width: 499px){
    .Home_Page-Cover-Photos{
        width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        margin: 30px auto;
    }
    .Cover-Image{
        height: 400px;
        width:100%;
        object-fit: cover;
        border-radius: 40px;
    } 
    .head-home-page{
        text-align: center;
        color: brown;
        font-size: 20px;
    }
    .sub-heading{
        text-align: center;
        color: navy;
        font-size: 16px;
    }
    .searchBar{
        display: flex;
        justify-content: space-between;
        width:50vw;
        height: 50px;
        margin:10px auto;
        border: 2px solid lightgray;
        border-radius: 30px;
        padding: 10px 15px;
        font-size: 10px;
    }
    .searchBar input{
        width: 90%;
        height: 100%;
        border: none;
        background: none;
    }
    .searchbtn{
        margin: 2px;
    }
    .searchBar input{
        width: 90%;
        height: 100%;
        border: none;
        background: none;
    }
    .searchBar input:focus{
        outline: none;
    }
}
